.popup__save {
  border: none;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  height: 50px;
  cursor: pointer;
  margin-top: 15px;
}

@media screen and (max-width: 605px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    padding: 12px 0 12px;
  }
}

.popup__save:hover {
  opacity: 0.8;
  transition: opacity 0.3s, transform 0.2s;
}