.popup__body {
  width: 430px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 36px;
  position: relative;
}

@media screen and (max-width: 605px) {
  .popup__body {
    width: 282px;
    height: 322px;
    padding: 19px;
  }
}