.element__like-button_active {
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  cursor: pointer;
  background: url("../../../../images/like_active.svg") no-repeat transparent;
}

.element__like-button_active:hover {
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.2s;
}